// Core variables and mixins
@import "../../../../contrib/zircon/assets/sass/config/variables";
@import "../../../../contrib/zircon/assets/sass/config/mixins";

$dark_green: #011d04;
$lighter_green: #023107;
$left_gray: #b6bfc9;
$right_gray: #d9e6f2;
$transparent_flex_background: rgba(238, 245, 252, 0.6);
$transparent_over_image_background: hsla(210, 67%, 96%, 0.6);
$dark_grey: #555;
$red: #c01700;
$white: #fff;
$border_grey: 1px solid #dadada;

.title-over-image .views-view-grid .views-col {
  float: left;
  position: relative;
  width: auto !important;
  margin-right: 20px;
  margin-top: 20px;
}

.title-over-image .views-field-field-image {
  float: none;
  margin: 0;
  border-radius: 0;
  min-height: 115px;
  width: 100%;
}
.title-over-image .views-field-name {
  position: absolute;
  bottom: 0;
  z-index: 5;
  left: 0;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.6); */
  /*background: hsl(209, 49%, 90%, .7);*/
  margin: 0;
  background: $transparent_over_image_background;
  // background: $transparent_flex_background;
}

.title-over-image .views-field-name a {
  display: block;
  padding: 7px 10px;
  font-weight: normal;
  /*color:#ced2d9*/
  //   color: #023107;
  color: $lighter_green;
  /* background-color:  hsl(209, 49%, 90%, 1); */
}

.title-over-image .views-row:hover .views-field-name a,
.title-over-image .views-row:focus .views-field-title a {
  color: $dark_green;
}

@media (max-width: $mobile-md) {
  .sidebar .our-products-list {
    .views-row {
      position: relative;
      border: 1px solid transparent !important;
      padding-top: 0 !important;
      min-height: 34px;
      &:hover,
      &:focus {
        .views-field-title {
          a {
            color: #ccc;
          }
        }
      }

      .views-field-field-image {
        float: none;
        margin: 0;
        border-radius: 0;
        min-height: 115px;
        width: 100%;
      }
      .views-field-title {
        position: absolute;
        bottom: 0;
        z-index: 5;
        left: 0;
        width: 100%;
        // background-color: rgba(0, 0, 0, 0.6);
        background: $transparent_over_image_background;
        margin: 0;
        a {
          display: block;
          padding: 7px 10px;
          font-weight: normal;
          color: $white;
        }
      }
    }
  }
}

// main menu style and gradient background
#main-menu .container {
  background-color: $right_gray;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from($left_gray),
    to($right_gray)
  );
  background: -webkit-linear-gradient(top, $left_gray, $right_gray);
  background: -moz-linear-gradient(top, $left_gray, $right_gray);
  background: -ms-linear-gradient(top, $left_gray, $right_gray);
  background: -o-linear-gradient(top, $left_gray, $right_gray);
}
//main menu option borders
#main-menu .container ul.menu li {
  border-left: 1px solid $white;
}
#main-menu .container ul.menu li > a {
  color: $lighter_green;
  //   border: $dark_green;
}
#main-menu .container ul.menu li .is-active {
  color: $white;
}
#main-menu .container ul.menu li:hover > a {
  color: $white;
}

// main menu dropdown menu
// #main-menu .container ul.menu .menu-item--expanded{
//active selected option
#main-menu .container ul.menu li.menu-item--active-trail > a {
  background: $red;
  color: $white;
}
#main-menu .container ul.menu ul.menu {
  border: none;
}
#main-menu .container ul.menu ul.menu li {
  border: none;
}
#main-menu .container ul.menu ul.menu li a {
  background-color: $right_gray;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from($left_gray),
    to($right_gray)
  );
  background: -webkit-linear-gradient(top, $left_gray, $right_gray);
  background: -moz-linear-gradient(top, $left_gray, $right_gray);
  background: -ms-linear-gradient(top, $left_gray, $right_gray);
  background: -o-linear-gradient(top, $left_gray, $right_gray);
  color: $lighter_green;
  border: none;
  &:hover {
    background: $red;
  }
}
#main-menu .container ul.menu ul.menu li .is-active {
  background: $red;
  color: $white;
}

.not-front #main-menu .container ul.menu li:first-child .is-active {
  background-color: $red;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from($red),
    to($right_gray)
  );
  background: -webkit-linear-gradient(top, $left_gray, $right_gray);
  background: -moz-linear-gradient(top, $left_gray, $right_gray);
  background: -ms-linear-gradient(top, $left_gray, $right_gray);
  background: -o-linear-gradient(top, $left_gray, $right_gray);
  background: $red;
  color: $white;
}

// image style for pictures appearing in /servicii page
article .field--name-field-image {
  float: left;
  margin-bottom: 10px;
  margin-right: 15px;
  padding: 0px;
  border-style: none;
}

//CSS style used in Galerie foto view
.margin-added {
  margin-bottom: 24px;
}

// Siderbar menu on the left - Oferte speciale
.sidebar h2 {
  background: -webkit-linear-gradient(top, $left_gray, $right_gray);
  background: -moz-linear-gradient(top, $left_gray, $right_gray);
  background: -ms-linear-gradient(top, $left_gray, $right_gray);
  background: -o-linear-gradient(top, $left_gray, $right_gray);
  color: $lighter_green;
  margin: -15px -15px 15px -15px;
  padding: 10px 15px;
  /* text-transform: uppercase; */
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.23em;
}

//Slideshow carousel caption css, color and background
#slideshow .flex-caption {
  background: $transparent_flex_background;
}

#slideshow .flex-caption a {
  /* color: blueviolet; */
  color: $lighter_green;
}
#slideshow .container .views-field-title {
  background: $transparent_flex_background;
  color: $lighter_green;
}

// display elements in Finisaje view with some space between

.views-view-grid .views-col {
  margin-right: 10px;
}

// Link color in servicii listing green
h3 > a,
h2 > a {
  color: $lighter_green;
}

//Style image to be shown one bigger and the next three smaller and underneath
//One big and 3 below smaller
// .field__item > a > img.image-style-minigallery-medium {
//   clear: right;
//   // width:60%;
//   padding: 1px 1px 1px 0;
// }

.field--name-field-poza-mica .field__item:first-child img {
  padding: 2px 1px 1px 0px;
  clear: right;
  box-sizing: border-box;
}
.field__item {
  box-sizing: border-box;
}

// .field__item > a > img.image-style-minigall {
//   box-sizing: border-box;
//   padding: 1px 1px 1px 0;
//   float: left;

// }
.field--name-field-poza-mica .field__item:not(:first-child) img {
  padding: 1px 1px 1px 0;
  box-sizing: border-box;
  float: left;
}

div.field.field--name-field-producator > div.field__label {
  clear: left;
}

//add some margin to the main produse picture
.field.field--name-field-imagine {
  margin-bottom: 20px;
}
// show title for Produs (e.g. Parchet stratificat) listing in 2 lines
.views-field.views-field-name,
.views-field.views-field-title .field-content a {
  // margin-top:4px;
  line-height: 1em;
  min-height: 2em;
  display: inline-block;
  overflow: hidden;
  // white-space: pre;
}

@media (max-width: $mobile-lg) {
  .views-field.views-field-name,
  .views-field.views-field-title .field-content a {
    // margin-top:4px;
    // line-height:1em;
    min-height: 3em;
    // display:inline-block;
    // overflow:hidden;
    // white-space: pre;
  }
}
