// Core variables and mixins
@import "../../../../contrib/zircon/assets/sass/config/variables";
@import "../../../../contrib/zircon/assets/sass/config/mixins";

$dark_green: #011d04;
$lighter_green: #023107;
$left_gray: #b6bfc9;
$right_gray: #d9e6f2;
$transparent_flex_background: rgba(238, 245, 252, 0.6);
$transparent_over_image_background: hsla(210, 67%, 96%, 0.6);

.title-over-image .views-view-grid .views-col {
  float: left;
  position: relative;
  width: auto !important;
  margin-right: 20px;
  margin-top: 20px;
}

.title-over-image .views-field-field-image {
  float: none;
  margin: 0;
  border-radius: 0;
  min-height: 115px;
  width: 100%;
}
.title-over-image .views-field-name {
  position: absolute;
  bottom: 0;
  z-index: 5;
  left: 0;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.6); */
  /*background: hsl(209, 49%, 90%, .7);*/
  margin: 0;
  background: $transparent_over_image_background;
  // background: $transparent_flex_background;
}

.title-over-image .views-field-name a {
  display: block;
  padding: 7px 10px;
  font-weight: normal;
  /*color:#ced2d9*/
  //   color: #023107;
  color: $lighter_green;
  /* background-color:  hsl(209, 49%, 90%, 1); */
}

.title-over-image .views-row:hover .views-field-name a,
.title-over-image .views-row:focus .views-field-title a {
  color: $dark_green;
}

@media (max-width: $mobile-md) {
  .sidebar .our-products-list {
    .views-row {
      position: relative;
      border: 1px solid transparent !important;
      padding-top: 0 !important;
      min-height: 34px;
      &:hover,
      &:focus {
        .views-field-title {
          a {
            color: #ccc;
          }
        }
      }

      .views-field-field-image {
        float: none;
        margin: 0;
        border-radius: 0;
        min-height: 115px;
        width: 100%;
      }
      .views-field-title {
        position: absolute;
        bottom: 0;
        z-index: 5;
        left: 0;
        width: 100%;
        // background-color: rgba(0, 0, 0, 0.6);
        background: $transparent_over_image_background;
        margin: 0;
        a {
          display: block;
          padding: 7px 10px;
          font-weight: normal;
          color: $white;
        }
      }
    }
  }
}

// main menu style and gradient background
#main-menu .container {
  background-color: $right_gray;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from($left_gray),
    to($right_gray)
  );
  background: -webkit-linear-gradient(top, $left_gray, $right_gray);
  background: -moz-linear-gradient(top, $left_gray, $right_gray);
  background: -ms-linear-gradient(top, $left_gray, $right_gray);
  background: -o-linear-gradient(top, $left_gray, $right_gray);
}
#main-menu .container ul.menu li > a {
  color: $lighter_green;
}
#main-menu .container ul.menu li .is-active {
  color: white;
}
#main-menu .container ul.menu li:hover > a {
  color: white;
}

.not-front #main-menu .container ul.menu li:first-child .is-active {
  background-color: $right_gray;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from($left_gray),
    to($right_gray)
  );
  background: -webkit-linear-gradient(top, $left_gray, $right_gray);
  background: -moz-linear-gradient(top, $left_gray, $right_gray);
  background: -ms-linear-gradient(top, $left_gray, $right_gray);
  background: -o-linear-gradient(top, $left_gray, $right_gray);
}

// image style for pictures appearing in /servicii page
article .field--name-field-image {
  float: left;
  margin-bottom: 10px;
  margin-right: 15px;
  padding: 0px;
  border-style: none;
}

//CSS style used in Galerie foto view
.margin-added {
  margin-bottom: 24px;
}

// Siderbar menu on the left - Oferte speciale
.sidebar h2 {
  background: -webkit-linear-gradient(top, $left_gray, $right_gray);
  background: -moz-linear-gradient(top, $left_gray, $right_gray);
  background: -ms-linear-gradient(top, $left_gray, $right_gray);
  background: -o-linear-gradient(top, $left_gray, $right_gray);
  color: $lighter_green;
  margin: -15px -15px 15px -15px;
  padding: 10px 15px;
  /* text-transform: uppercase; */
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.23em;
}

//Slideshow carousel caption css, color and background
#slideshow .flex-caption {
  background: $transparent_flex_background;
}

#slideshow .flex-caption a {
  /* color: blueviolet; */
  color: $lighter_green;
}
