/* Translate */
.title-over-image .views-view-grid .views-col {
  float: left;
  position: relative;
  width: auto !important;
  margin-right: 20px;
  margin-top: 20px;
}

.title-over-image .views-field-field-image {
  float: none;
  margin: 0;
  border-radius: 0;
  min-height: 115px;
  width: 100%;
}

.title-over-image .views-field-name {
  position: absolute;
  bottom: 0;
  z-index: 5;
  left: 0;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.6); */
  /*background: hsl(209, 49%, 90%, .7);*/
  margin: 0;
  background: rgba(238, 245, 252, 0.6);
}

.title-over-image .views-field-name a {
  display: block;
  padding: 7px 10px;
  font-weight: normal;
  /*color:#ced2d9*/
  color: #023107;
  /* background-color:  hsl(209, 49%, 90%, 1); */
}

.title-over-image .views-row:hover .views-field-name a,
.title-over-image .views-row:focus .views-field-title a {
  color: #011d04;
}

@media (max-width: 480px) {
  .sidebar .our-products-list .views-row {
    position: relative;
    border: 1px solid transparent !important;
    padding-top: 0 !important;
    min-height: 34px;
  }
  .sidebar .our-products-list .views-row:hover .views-field-title a, .sidebar .our-products-list .views-row:focus .views-field-title a {
    color: #ccc;
  }
  .sidebar .our-products-list .views-row .views-field-field-image {
    float: none;
    margin: 0;
    border-radius: 0;
    min-height: 115px;
    width: 100%;
  }
  .sidebar .our-products-list .views-row .views-field-title {
    position: absolute;
    bottom: 0;
    z-index: 5;
    left: 0;
    width: 100%;
    background: rgba(238, 245, 252, 0.6);
    margin: 0;
  }
  .sidebar .our-products-list .views-row .views-field-title a {
    display: block;
    padding: 7px 10px;
    font-weight: normal;
    color: #fff;
  }
}
#main-menu .container {
  background-color: #d9e6f2;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b6bfc9), to(#d9e6f2));
  background: -webkit-linear-gradient(top, #b6bfc9, #d9e6f2);
  background: -moz-linear-gradient(top, #b6bfc9, #d9e6f2);
  background: -ms-linear-gradient(top, #b6bfc9, #d9e6f2);
  background: -o-linear-gradient(top, #b6bfc9, #d9e6f2);
}

#main-menu .container ul.menu li {
  border-left: 1px solid #fff;
}

#main-menu .container ul.menu li > a {
  color: #023107;
}

#main-menu .container ul.menu li .is-active {
  color: #fff;
}

#main-menu .container ul.menu li:hover > a {
  color: #fff;
}

#main-menu .container ul.menu li.menu-item--active-trail > a {
  background: #c01700;
  color: #fff;
}

#main-menu .container ul.menu ul.menu {
  border: none;
}

#main-menu .container ul.menu ul.menu li {
  border: none;
}

#main-menu .container ul.menu ul.menu li a {
  background-color: #d9e6f2;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b6bfc9), to(#d9e6f2));
  background: -webkit-linear-gradient(top, #b6bfc9, #d9e6f2);
  background: -moz-linear-gradient(top, #b6bfc9, #d9e6f2);
  background: -ms-linear-gradient(top, #b6bfc9, #d9e6f2);
  background: -o-linear-gradient(top, #b6bfc9, #d9e6f2);
  color: #023107;
  border: none;
}
#main-menu .container ul.menu ul.menu li a:hover {
  background: #c01700;
}

#main-menu .container ul.menu ul.menu li .is-active {
  background: #c01700;
  color: #fff;
}

.not-front #main-menu .container ul.menu li:first-child .is-active {
  background-color: #c01700;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c01700), to(#d9e6f2));
  background: -webkit-linear-gradient(top, #b6bfc9, #d9e6f2);
  background: -moz-linear-gradient(top, #b6bfc9, #d9e6f2);
  background: -ms-linear-gradient(top, #b6bfc9, #d9e6f2);
  background: -o-linear-gradient(top, #b6bfc9, #d9e6f2);
  background: #c01700;
  color: #fff;
}

article .field--name-field-image {
  float: left;
  margin-bottom: 10px;
  margin-right: 15px;
  padding: 0px;
  border-style: none;
}

.sidebar h2 {
  background: -webkit-linear-gradient(top, #b6bfc9, #d9e6f2);
  background: -moz-linear-gradient(top, #b6bfc9, #d9e6f2);
  background: -ms-linear-gradient(top, #b6bfc9, #d9e6f2);
  background: -o-linear-gradient(top, #b6bfc9, #d9e6f2);
  color: #023107;
  margin: -15px -15px 15px -15px;
  padding: 10px 15px;
  /* text-transform: uppercase; */
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.23em;
}

#slideshow .flex-caption {
  background: rgba(238, 245, 252, 0.6);
}

#slideshow .flex-caption a {
  /* color: blueviolet; */
  color: #023107;
}

#slideshow .container .views-field-title {
  background: rgba(238, 245, 252, 0.6);
  color: #023107;
}

h3 > a,
h2 > a {
  color: #023107;
}

.field--name-field-poza-mica .field__item:first-child img {
  padding: 2px 1px 1px 0px;
  clear: right;
  box-sizing: border-box;
}

.field__item {
  box-sizing: border-box;
}

.field--name-field-poza-mica .field__item:not(:first-child) img {
  padding: 1px 1px 1px 0;
  box-sizing: border-box;
  float: left;
}

div.field.field--name-field-producator > div.field__label {
  clear: left;
}

.field.field--name-field-imagine {
  margin-bottom: 20px;
}

.views-field.views-field-name,
.views-field.views-field-title .field-content a {
  line-height: 1em;
  min-height: 2em;
  display: inline-block;
  overflow: hidden;
}

@media (max-width: 767px) {
  .views-field.views-field-name,
.views-field.views-field-title .field-content a {
    min-height: 3em;
  }

  .views-view-grid .views-col {
    box-sizing: border-box;
    margin-right: 0px;
    padding-right: 1px;
  }
}
.views-view-grid .views-col {
  box-sizing: border-box;
  padding-right: 1px;
}

#panel_second .container {
  background-color: #b6bfc9;
  color: #011d04;
}

.region.region-panel-second-4 a {
  color: #011d04;
}

#panel_second ul li a {
  color: #011d04;
}

/*# sourceMappingURL=style.css.map */
